doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Form
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  script(type='text/javascript' src='http://localhost:2000/socket.io/socket.io.js')
  script(type='text/javascript' src='../public/js/chat.js')

header.bg-dark.pt-4
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active.text-primary(href='/chatList') Chats
    li.nav-item
      a.nav-link.text-white(href='/history') History
section.text-center.m-5
  .container
    p.h3 Selecciona la sala de chat:
    form(action='/chat/view' method='post')
      div
        ul.list-group
          li.list-group-item.p-3
            input#chat1.form-check-input(type='radio' name='chatId' value="1" )
            label.h5(for='chat1') Sala 1
          li.list-group-item.p-3
            input#chat2.form-check-input(type='radio' name='chatId' value="2" )
            label.h5(for='chat2') Sala 2
          li.list-group-item.p-3
            input#chat3.form-check-input(type='radio' name='chatId' value="3" )
            label.h5(for='chat3') Sala 3
          li.list-group-item.p-3
            input#chat4.form-check-input(type='radio' name='chatId' value="4" )
            label.h5(for='chat4') Sala 4
        br
        button.btn.btn-outline-primary(type='submit') Entrar
footer
  .bg-dark.text-center.p-5
    div
      p.text-light NodeChat
