doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Form
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
header.bg-dark
  .row &nbsp;
  .row &nbsp;
  .row &nbsp;
section.text-center.m-5
  p.h1.text-primary Node Chat
  br
  .container
    form(method='post')
      label.h5(for='name') Username: 
      input#name.form-control(type='text' name='name')
      br
      label.h5(for='paswd') Password:
      input#paswd.form-control(type='password' name='paswd')
      br
      button.btn.btn-primary(type='submit') Login
      br
      br
      p.h6
        | Not registred yet? 
        a.btn.btn-link(href='/register')  Click here! 
      // <button class="btn btn-link" type="submit">Register</button>
footer
  .bg-dark.text-center.p-5
    div
      p.text-light NodeChat
