doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Form
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  script(type='text/javascript' src='http://localhost:2000/socket.io/socket.io.js')
script(type='text/javascript' src='../public/js/chat.js')

header.bg-dark.pt-4
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active.text-primary(href='/chatList') Chats
    li.nav-item
      a.nav-link.text-white(href='/history') History
section.text-center.m-5
  .container.p-0
    p.h3 Sala Chat #{chatId}

    form( action='' id='send' method='post')
      .row
        .col-12.col-md-10
          textarea.form-control(id='chat' rows='10' cols='10')
      .row
        .col-12.col-md-10
          input.form-control(type='text' name='msg' id='msg' placeholder='Escribe tu mensaje aquí')
        .col-12.col-md-2
          input.btn.btn-primary(type='submit' value='Send' name='send')

    //- input.btn.btn-primary(type='button' value='logout' name='logout' href='/logout')
footer
  .bg-dark.text-center.p-5
    div
      p.text-light NodeChat
