doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Form
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
header.bg-dark.pt-4
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.text-white(href='/chatList') Chats
    li.nav-item
      a.nav-link.text-primary.active(href='/history') History
section.text-center.m-5
  .container
    p.h3 Sala Chat 1
    textarea#chat.form-control(rows='10' cols='10')
    br
    button.btn.btn-danger  Delete History
footer
  .bg-dark.text-center.p-5
    div
      p.text-light NodeChat
script(type='text/javascript' src='http://localhost:2000/socket.io/socket.io.js')
script(type='text/javascript' src='/js/chat.js')
